// Place all the styles related to the api/benches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map-container {
  width: 500px;
  height: 550px;
}

.user-pane {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-pane {
  margin-left: 40px;
  padding: 20px;
  width: 450px;
  height: 500px;
  overflow-y: scroll;
}

.filter {
  .filter-header {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  input {
    margin-bottom: 5px;
    margin-left: 5px;
  }
}

.right-half {
    width: 400px;
    margin-left: 50px;
    margin-top: 40px;
    height: 480px;
    overflow-y: scroll;
    padding: 0 20px 20px 20px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 50%);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 30%);
    border-radius: 10px;
}
.bench-index-item {
  margin-bottom: 5px;
  border: 1px solid black;
  padding: 20px;
  padding-bottom: 15px;
}

.bench-index-item:hover {
  cursor: pointer;
}

.index-item-info {
  display: flex;
  flex-direction: column;

  .index-item-category {
    margin-bottom: 5px;
  }

  .index-item-copy {
    margin-left: 15px;
    margin-bottom: 5px;
  }
}

.bench-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.bench-show-details {
  margin-left: 40px;
  padding: 20px;
  width: 400px;
  height: 480px;
  overflow-y: scroll;
}

.bench-detail-photo {
  width: 380px;
  height: auto;
  max-height: 300px;
  margin-bottom: 30px;
}

.bench-detail-list {
  margin-bottom: 30px;
  margin-left: 10px;
}

.bench-detail-list > li {
  margin-bottom: 10px;
  padding-left: 10px;
}

.bench-form-container {
  margin: 40px auto;
  padding: 20px;
  width: 400px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bench-form-title {
    font-size: 25px;
  }
}

.bench-form {
  margin: 20px 0;
}


.bench-field {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  label {
    margin-top: 15px;
  }

  input {
    width: 180px;
    margin-top: 10px;
  }
}

.bench-form-button {
  margin-left: 0;
  margin-top: 15px;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
  background: rgb(57, 38, 92);
  border-radius: 10px;
}

.bench-form-button:hover {
  cursor: pointer;
  color: gold;
}