// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reviews {
  margin-bottom: 50px;

  h3 {
    margin-left: 0
  }

  ul {
    margin-left: 40px;
    list-style-position: outside;
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 5px;
  }
}

.review-form-button {
  margin-left: 0;
  margin-top: 15px;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
  background: rgb(57, 38, 92);
  border-radius: 10px;
}

.review-form-button:hover {
  background: rgb(42, 28, 68);
  color: gold;
}

.review-form {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 25px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

.review-form-rating {
  width: 100px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.review-form-comment {
  padding: 5px;
  margin-bottom: 10px;
}

.review-submit {
  width: 200px;
}