// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form-rating {
  width: 100px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.review-form-comment {
  padding: 5px;
  margin-bottom: 10px;
}

.review-form-submit {
  width: 150px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.review-form-cancel {
  width: 60px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 30px;
}