/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map-container {
  width: 500px;
  height: 500px;
}

.user-pane {
  display: flex;
  flex-direction: row;
}

.right-pane {
  margin: 40px;
}

.bench-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.bench-show-details {
  margin-left: 40px;
  padding: 20px;
  width: 400px;
  height: 480px;
}

ul.bench-detail-list > li {
  margin-bottom: 10px;
  padding-left: 10px;
}