/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map-container {
  width: 500px;
  height: 500px;
}

.user-pane {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.right-pane {
  margin-left: 40px;
  padding: 20px;
  width: 400px;
  height: 480px;
  overflow-y: scroll;
}

.bench-index-item {
  padding: 20px;
  border: 1px solid black;
}


element.style {
}
.right-half {
    width: 400px;
    margin-left: 50px;
    margin-top: 40px;
    height: 480px;
    overflow-y: scroll;
    padding: 0 20px 20px 20px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
}
.bench-index-item {
  margin-bottom: 5px;
}

.bench-index-item:hover {
  cursor: pointer;
}

.bench-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.bench-show-details {
  margin-left: 40px;
  padding: 20px;
  width: 400px;
  height: 480px;
}

ul.bench-detail-list > li {
  margin-bottom: 10px;
  padding-left: 10px;
}