.main-header {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  background: rgb(57, 38, 92);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1:hover {
    color: gold;
  }
}

.header-name {
  padding-top: 5px;
  margin-left: 20px;
  margin-top: 0px;
  font-size: 18px;
}

.login-signup {
  margin-top: 10px;
  font-size: 20px;

  span:hover {
    color:gold;
  }
}

.header-button {
  width: 80px;
  height: 25px;
  padding: 0 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: rgb(57, 38, 92);
  background: rgb(208, 200, 224);
  border-radius: 10px;
}

.header-button:hover {
  background:rgb(152, 136, 185);
  color: gold;
  cursor: pointer;
}